node_modules/
.wrangler/
.DS_Store
.dev.vars
cards/build/
cards/print/pdf/table-0[1-5].pdf
!cards/print/pdf/table-06.pdf
!cards/print/pdf/table-07.pdf
cards/print/png/table-0[1-5].png
!cards/print/png/table-06.png
!cards/print/png/table-07.png
